<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head">
        <title id="pageTitle" th:text="#{application.name}">App name</title>
    </head>
    <body>
    <nav th:replace="fragments/navHeader :: navbar"></nav>
    <div class="container has-text-centered">
        <h2 class="title is-2" >test</h2>
        <table class="table centered">
            <tr>
                <td>this is a test</td>
            </tr>
        </table>
    </div>
    </body>

</html>